<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.stock.min.js"></script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

</head>
<body>
<div id="chartContainer1" style="height: 300px; width: 33.33%; float: left;"></div>
<div id="chartContainer2" style="height: 300px; width: 33.33%; float: left;"></div>
<div id="chartContainer3" style="height: 300px; width: 33.33%; float: left;"></div>


<div class="chart">
    <div id="chartContainer2" style="height: 300px; width: 33.33%; float: left;"></div>
<div id="chartContainer3" style="height: 300px; width: 33.33%; float: left;"></div>

</div>
<div class="export-button" style="background-color: black;">
    <button onclick="exportToCSV()" style="background-color: black;">Export to CSV</button>
</div>
</body>
</html>
